:root {

    --background-color: #233648;
    --background-dark: #101922;
    --primary-color: #137fec;
    --light-blue: #3d9df0;
    --hover-blue: #5caef3;
    --titles-color: #f6f7f8;
    --text-color: black;
    --success-color: #10b981;
    --warning-color: #f59e0b;
    --error-color: #ef4444;
    --placeholder-color: #8b9aa8;
    --input-background: #e8ecf0;
    --border-color: #d1dae3;
    --accent-purple: #8b5cf6;
    --my-font: "Google Sans", sans-serif;
}

body {
    width: 100%;
    font-family: var(--my-font);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background-color: var(--background-dark);


    margin: 0;
    padding: 0;
    min-height: 100vh;


    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    scroll-behavior: smooth;


    text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100px;
    max-width: 1200px;
    padding: 32px;
    flex-direction: row;
    align-items: center;

    .header-section-logo {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        width: 20%;
        height: 100%;
        align-items: center;
        justify-content: center;

        a {
            width: 60px;
            border-radius: 50%;
            margin-right: 10px;

            svg {
                color: var(--primary-color);
            }
        }

        h1 {
            font-weight: 700;
            font-size: 18px;
            font-family: var(--my-font);
            color: var(--input-background);
        }
    }
}